robot: 
  arm_name: ur_manipulator  
  ee_link_name: tool0
  robot_desc: robot_description
  move_group_ns: 
  planning_scene: planning_scene
  planning_frame: world #or base
  num_cart_pts: 20
  joint_states: joint_states
  max_vel_scaling_factor: 0.1
  max_acc_scaling_factor: 0.1
  with_planner: true
topic:
  sub:
    cmd_pose:
      name: arm/cmd/pose
      queue: 1
    cmd_traj:
      name: arm/cmd/traj
      queue: 1
    cmd_tool_orientation:
      name: tool/cmd/orient
      queue: 1
    cmd_delta_pose:
      name: arm/cmd/delta_pose
      queue: 1
    joint_states:
      name: joint_states
      queue: 1
  pub:
    display_trajectory:
      name: arm/display_path
      queue: 1
    current_pose:
      name: arm/state/current_pose
      queue: 1
    current_robot_state:
      name: arm/state/ctl_state
      queue: 1
srv:
  disable_collision:
    name: /move_group/disable_collision
  add_collision:
    name: /move_group/add_collision
  change_robot_state:
    name: arm/change_state
  set_vel_acc:
    name: arm/set_vel_acc
  set_eelink:
    name: arm/set_eelink
  set_planonly:
    name: arm/set_planonly
  open_gripper: 
    name: arm/open_gripper
  close_gripper:
    name: arm/close_gripper
action:
  move_to_pose:
    name: arm/move_to_pose
  move_to_joint:
    name: arm/move_to_joint
  move_to_pose_path:
    name: arm/move_to_pose_path
  gripper_control:
    name: arm/gripper_control