robot: 
  arm_name: arm  
  ee_link_name: panda_hand_tcp
  robot_desc: robot_description
  move_group_ns: 
  planning_scene: planning_scene
  planning_frame: world
  num_cart_pts: 20
  joint_states: joint_states
topic:
  sub:
    cmd_pose:
      name: arm/cmd/pose
      queue: 1
    cmd_traj: 
      name: arm/cmd/traj
      queue: 1
    cmd_tool_orientation:
      name: tool/cmd/orient
      queue: 1
    cmd_delta_pose: 
      name: arm/cmd/deta_pose
      queue: 1
    joint_states:
      name: joint_states
      queue: 1  
  pub:
    display_trajectory:
      name: arm/display_path
      queue: 1
    current_pose:
      name: arm/state/current_pose
      queue: 1
srv: 
  disable_collision: 
    name: /move_group/disable_collision
  add_collision: 
    name: /move_group/add_collision
  start_position_ctl: 
    name: start_position_ctl
  start_joint_traj_ctl: 
    name: start_joint_traj_ctl
  start_joint_group_pos_ctl: 
    name: start_joint_group_pos_ctl
  start_joint_group_vel_ctl: 
    name: start_joint_group_vel_ctl
  change_robot_state: 
    name: change_state